
/* subscribe css */
.subscribe{
    background-color: #D3D3D3;
    margin-top: 0;
    width: 100%;
  }
  
  /* t r b l */
  .subscribe form{
    padding:  25px 0 30px 0;
  }
  
  @media only screen and (max-width: 590px ) {
    .subscribe form{
     margin-bottom: 30px;
    }
    
  }
  .subscribe .subscribe-button{
    width: 100%;
    cursor: pointer;
    background-color: #088178;
    outline: none;
    color: #ffff;
    padding: 7px;
    box-shadow: none;
    border: none;
    border-radius: 1px;
  }
  
  .subscribe input:focus{
  border: 2px solid red;
  outline: none;
  padding: none;
  box-shadow: none;
  }
  /* footer css */
  
  .footer{
    width: 100%;
    padding: 30px;
    background-color: black;
    color: #fff;
    transition: 0.3s ease;
  }
  .footer h4{
    margin: 0 0 5px 0;
    font-weight: 500;
  }
  .footer p{
    display: block;
    margin: 0 0 10px 0;
  }
  .footer a{
    font-size: 15px;
    color: #ffff;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-decoration: none;
  }
  
  .footer h4>a{
   font-size: 25px;
  }
  .footer a:hover{
    padding: 1px;
    border: 2px solid;
  }
  
  .footer .social a i {
    height: 30px;
    height: 30px;
    color: #fff;
   
  }

  .footer .social a  {
    margin: 10px 10px 0 0;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    background-color: blue;
    height: 40px;
    width: 40px;
   
  }